<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backdrop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Backdrop.Properties.Settings>
            <setting name="ColorPreset0" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ColorPreset1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorPreset2" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="ColorPreset3" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorPreset4" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ColorPreset5" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorPreset6" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="ColorPreset7" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="ColorPreset8" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ColorPreset9" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
        </Backdrop.Properties.Settings>
    </userSettings>
</configuration>